<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Search</title>
</head>
<body>
    <h1>Movie Search</h1>
    <form method="POST">
        <input type="text" name="search_query" placeholder="Enter movie name" required>
        <input type="text" name="search_query_year" placeholder="Enter movie year">
        <input type="text" name="search_query_type" placeholder="Enter movie type">

        <button type="submit">Search</button>
    </form>
    <hr>
    {% if movies %}
    <h2>Search Results:</h2>
    <ul>
        {% for movie in movies %}
            <li>
                <strong>{{ movie.Title }}</strong> ({{ movie.Year }})
            </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>